
body{
    background-color: rgb(0, 0, 0);
    background-image: url("https://media3.giphy.com/media/l0CRCxtNyUteI6hI4/giphy.gif?cid=ecf05e47fdcwbg5n04qmuzvfvwdimjwyrdf6s91yseem4uv8&rid=giphy.gif&ct=g");
    background-size: cover;
    background-repeat: none;
    display: flex;
    height: 100vh;
    width: 100vw;
    cursor: none;
    overflow:hidden;
    justify-content: center;
}
canvas{
    z-index: 19;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    /*box-shadow: 2px 2px 2px 2px black;*/
}


#canvasHolder{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    justify-self: center;
    align-self: center;
    display: flex;
    width: 1180px;
    height: 620px;
}

#background{
    width: 1180px;
    height: 620px;
    background-color: white;
}

.cursor{
    display: flex;
    z-index: 20;
    position: absolute;
    background-image: url("./pencil.png");
    background-size: cover;
}

.pipet{
    z-index: 20;
    background-image: url("./dropper.png") !important;
}

button{ 
    border: 2px rgb(255, 255, 255) solid!important;
    cursor: none;
    width: 80px;
    height: 80px;
    margin: 5px;
    background-color: black;
    align-items: center;
}

#colourBox{
    z-index: 19;
    top: calc(50% - 405px);
    left: calc((100vw - 1180px)/4);
    position: fixed;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
}

#sizeBox{
    z-index: 19;
    top: calc(50% - 90px);
    right: calc((100vw - 1180px)/4);
    position: fixed;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
}

.sizeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid!important;
    font-size: 40px;
    text-align: center;
}

#addPenWidth{
    background-color: #00ab66;
    border-color: #008952 !important;
}

#removePenWidth{
    background-color: #ff0000;
    border-color: #a61022 !important;
}



#removePenWidth{
    padding-bottom: 7px;
}

.hidden{
    display: none;
}

.red{
    filter: invert(33%) sepia(97%) saturate(7430%) hue-rotate(356deg) brightness(101%) contrast(123%);
}

.blue{
    filter: invert(7%) sepia(100%) saturate(7389%) hue-rotate(248deg) brightness(112%) contrast(144%);
}

.yellow{
    filter: invert(80%) sepia(67%) saturate(1131%) hue-rotate(357deg) brightness(100%) contrast(106%);
}

.green{
    filter: invert(56%) sepia(87%) saturate(3401%) hue-rotate(85deg) brightness(135%) contrast(113%);
}

.pink{
    filter: invert(87%) sepia(91%) saturate(1299%) hue-rotate(287deg) brightness(109%) contrast(102%);
}

.orange{
    filter: invert(75%) sepia(48%) saturate(4780%) hue-rotate(1deg) brightness(104%) contrast(104%);
}

.purple{
    filter: invert(15%) sepia(65%) saturate(6493%) hue-rotate(276deg) brightness(103%) contrast(94%);
}

.lightBlue{
    filter: invert(80%) sepia(13%) saturate(1397%) hue-rotate(159deg) brightness(88%) contrast(88%);
}